body {
    background: linear-gradient(to right, #2b2b2b, #1b1b1b);
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

.div-table {
    display: grid;
    grid-template-columns: 20.96% 5.24% 20.96% 5.24% 20.96% 5.24% 20.96%;
    grid-auto-rows: 25% 7% 25% 7% 25%;
    padding: 2%;
    width: 100vw;
    height: 80vh;
    background: linear-gradient(to bottom, #3c3c3c, #2c2c2c);
    box-sizing: border-box;
    border: 5px solid #444;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.shape {
    background-color: #4d4d4d;
    border: 1px solid #555;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(to right, #2b2b2b, #1b1b1b);
}

.cross {
    background-color: #4d4d4d;
    border: 1px solid #555;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.chain {
    background-color: #4d4d4d;
    border: 1px solid #555;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#timer {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

* {
    transition: all 0.3s ease;
}

.chain:hover {
    background-color: #888;
    transform: scale(1.1);
}

.chain:active {
    background-color: #555;
}