/* Reset styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --main-bg-color: #2b2b2b;
    --secondary-bg-color: #1b1b1b;
    --grid-item-bg-color: #4d4d4d;
    --grid-item-border-color: #555;
    --grid-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    --grid-item-size: 20.96%;
    --grid-gap: 2%;
    --grid-rows: 25% 7% 25% 7% 25%;
}

/* Background and text styles */
body {
    background: linear-gradient(to right, var(--main-bg-color), var(--secondary-bg-color));
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

/* Grid container and items */
.grid-container {
    display: grid;
    grid-template-columns: var(--grid-item-size) var(--grid-gap) var(--grid-item-size) var(--grid-gap) var(--grid-item-size) var(--grid-gap) var(--grid-item-size);
    grid-template-rows: var(--grid-rows);
    grid-template-areas:
        "header header header header header header"
        "shape shape shape shape shape shape"
        "container container container container container container"
        "cross cross cross cross cross cross"
        "footer footer footer footer footer footer";
    padding: var(--grid-gap);
    width: 100vw;
    height: 80vh;
    background: linear-gradient(to bottom, #3c3c3c, #2c2c2c
